* {
    margin: 0;
    padding: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.register-page {
    background: #d2d6de;
}
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
form {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 1em;
    background-color: white;
}
body {
    background-color: #ecf0f5;
    color: #000;
    overflow-x: hidden;
    font-family: arial;
}
.nav_tabs {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    position: relative;
}
.nav_tabs ul {
    list-style: none;
}
.nav_tabs li {
    float: left;
}
.nav_tabs label {
    width: 300px;
    padding: 25px;
    background-color: #363b48;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.rd_tabs:checked ~ label {
    background-color: #45bc35;
}
.rd_tabs {
    display: none;
}
.content {
    border-top: 5px solid #45bc35;
    display: none;
    position: absolute;
    height: 320px;
    width: 600px;
    left: 0px;
  
}
.rd_tabs:checked ~ .content {
    display: block;
}


#alunos {
    display: none;
}
#professores {
    display: none;
}
#servidores {
    display: none;
}