.textarea {
    position: relative;
    border-radius: 10px;
    padding: 8px 12px;
    height: 200px;
    width: 80%;
    font-size: 17px;
    line-height: 18px;
    border: 1px solid #838383;
}
.botaoSelect {
    width: 178px;
}
